# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
##Import a dataset..

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [6]:
chipo.loc[:9]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
j = chipo.head(10)
j.quantity[0] = 10
chipo

#otra manera de hacerlo
#Cuidado con modificar los valores.
#loc no se usa en general con letras..
#iloc se refiere al indice de la fila. A la posicion
#loc ---> llama x el valor del campo.

,order_id,quantity,item_name,choice_description,item_price
0,1,10,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 5. What is the number of observations in the dataset?

In [8]:
4622 rows × 5 columns

SyntaxError: invalid syntax (<ipython-input-8-fa807757b56a>, line 1)

In [9]:
# Solution 1
chipo.shape[0]

4622

In [10]:
chipo.index()

#si no le especidicas que indices tomar, por default crea una (columna invisible) que va del 0 hasta el ultimo elemento.

TypeError: 'RangeIndex' object is not callable

In [11]:
len(chipo.index)

4622

In [12]:
len(chipo)

4622

In [13]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [14]:
chipo.shape[1]

#1 se refiere al eje horizintal

chipo.columns

len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [15]:
print(chipo.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

In [16]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [17]:
cols = chipo.columns.tolist()
cols

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [18]:
ind = pd.Index
ind

pandas.core.indexes.base.Index

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [20]:
chipo.max()[1]

15

In [21]:
chipo[["item_name","quantity"]]

                                  item_name  quantity
0              Chips and Fresh Tomato Salsa        10
1                                      Izze         1
2                          Nantucket Nectar         1
3     Chips and Tomatillo-Green Chili Salsa         1
4                              Chicken Bowl         2
...                                     ...       ...
4617                          Steak Burrito         1
4618                          Steak Burrito         1
4619                     Chicken Salad Bowl         1
4620                     Chicken Salad Bowl         1
4621                     Chicken Salad Bowl         1

[4622 rows x 2 columns]

In [22]:
#reacomodar el dataframe por la columna item_name
#agrupar los items y sumar sus cantidades
#sacar el valor maximo

In [23]:
vendidos = chipo.groupby('item_name').sum()
vendidos

#siempre va con una operacion al final. Despues de groupby.
#indice en el df es la columna x la cual se ha agrupado
#se pueden nombrar las columnas con comillas por las dudas si el nombre contiene un espacio.
#los df se muestran "bonitos", mientras que las columnas son solo series.

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       139
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [24]:
vendidos.max()

order_id    713926
quantity       761
dtype: int64

In [25]:
vendidos.cummax

<bound method DataFrame.cummax of                                        order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       139
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8>

In [26]:
x = vendidos.describe()
x

            order_id    quantity
count      50.000000   50.000000
mean    85715.440000   99.620000
std    142559.146505  159.346611
min       279.000000    1.000000
25%      7875.750000    9.250000
50%     36745.500000   38.000000
75%     79820.500000  106.750000
max    713926.000000  761.000000

In [27]:
itemmas = vendidos[vendidos['quantity']==761]
itemmas

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

#mask = columna, que es una serie de valores tiene que estar dentro de corchetes. Sino, se transforma en un BOOLEAN y solo verifica si se cumple o no. Devuelve todas las filas donde esta condicion se cumpla o no.
#dentro de mask se usan otros operadores logicos (& , |)

In [28]:
vendidos[vendidos['quantity']==761]

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [29]:
vendidos = vendidos.sort_values(["quantity"], ascending=False)
vendidos

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       139
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

In [30]:
grouped = chipo.groupby("item_name")
...
print...

SyntaxError: invalid syntax (<ipython-input-30-693979435c1c>, line 3)

### Step 11. What was the most ordered item in the choice_description column?

In [31]:
chipo.head(10)
chipo.tail(10)

chipo.mode()
#da la moda de cada columna... y no es un dato real porque no considera las cantidades de cada uno.

   order_id  quantity     item_name choice_description item_price
0       926         1  Chicken Bowl        [Diet Coke]     $8.75

In [32]:
chipo[["choice_description","quantity"]]

                                     choice_description  quantity
0                                                   NaN        10
1                                          [Clementine]         1
2                                               [Apple]         1
3                                                   NaN         1
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...         2
...                                                 ...       ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...         1
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...         1
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...         1
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...         1
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...         1

[4622 rows x 2 columns]

In [33]:
cd = chipo.groupby('choice_description').sum()
cd

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [34]:
cd.max()

order_id    123455
quantity       159
dtype: int64

In [35]:
choicemas = cd[cd['quantity']==159]
choicemas

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [36]:
#idem con la columna choice_description

### Step 12. How many items were orderd in total?

In [37]:
chipo.sum()

order_id                                                4285772
quantity                                                   4981
item_name     Chips and Fresh Tomato SalsaIzzeNantucket Nect...
item_price    $2.39 $3.39 $3.39 $2.39 $16.98 $10.98 $1.69 $1...
dtype: object

In [38]:
chipo.quantity.sum()

4981

4972

### Step 13. Turn the item price into a float

In [39]:
chipo["item_price"] = chipo["item_price"].str.replace("$"," ")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,10,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [40]:
def dollarizer_(x):
    return float(x[1:])

In [41]:
dollarizer_ = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer_)

#apply lo va a hacer porque e sun entero, pero no siempre lo permite. 
#"la columna item price de chipo, ahora sera modificada x esta funcion (apply)"
#a la izq argumento de entrada dela funcion
#a la derecha de los dos puntos, lo que retorna la funcion

In [42]:
chipoB = chipo.copy()

In [43]:
chipoB["item_price"] = chipoB["item_price"].astype(float)
chipoB.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.a. Check the item price type

In [44]:
dataTypeObj = chipoB.dtypes['item_price']
print('Data type of item price is :')
print(dataTypeObj)

Data type of item price is :
float64

In [45]:
chipoB.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [46]:
chipoB['item_price'] = chipoB['item_price'].apply(lambda x: type(str).float)

AttributeError: type object 'type' has no attribute 'float'

#### Step 13.c. Check the item price type

In [47]:
dataType = chipoB.dtypes['item_price']
print('Data type of item price is :')
print(dataType)

Data type of item price is :
float64

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [48]:
revenue = chipoB.item_price.multiply(chipoB["quantity"])
revenue

0       23.90
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [49]:
revenue = chipoB.quantity * chipoB.item_price
revenue

0       23.90
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [50]:
revenue.sum()

39258.53

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [51]:
max(chipo.order_id)

1834

In [52]:
len(chipo.index)

4622

In [53]:
order = chipo.groupby('order_id')
order

In [54]:
order = chipoB.groupby('order_id').count()
order

          quantity  item_name  choice_description  item_price
order_id
1                4          4                   2           4
2                1          1                   1           1
3                2          2                   1           2
4                2          2                   2           2
5                2          2                   1           2
...            ...        ...                 ...         ...
1830             2          2                   2           2
1831             3          3                   1           3
1832             2          2                   1           2
1833             2          2                   2           2
1834             3          3                   3           3

[1834 rows x 4 columns]

In [55]:
hg = chipo.tail(5)
hg.order_id.values[3]

1834

In [56]:
orders = chipo.order_id.value_counts()
orders

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

1834

### Step 16. What is the average revenue amount per order?

In [57]:
# Solution 1
average_order = order.quantity * order.item_price
average_order

order_id
1       16
2        1
3        4
4        4
5        4
        ..
1830     4
1831     9
1832     4
1833     4
1834     9
Length: 1834, dtype: int64

In [58]:
chipo.groupby(by=["order_id"].sum().mean())

AttributeError: 'list' object has no attribute 'sum'

In [59]:
chipo.item_name.nunique()

50

In [60]:
average_order.mean()

7.7917121046892035

21.394231188658654

In [61]:
aver = revenue.sum()/1834
aver

21.405959651035985

### Step 17. How many different items are sold?

In [62]:
vendidos.apply(type).value_counts()

<class 'pandas.core.series.Series'>    2
dtype: int64

In [63]:
vendidos.describe()

            order_id    quantity
count      50.000000   50.000000
mean    85715.440000   99.620000
std    142559.146505  159.346611
min       279.000000    1.000000
25%      7875.750000    9.250000
50%     36745.500000   38.000000
75%     79820.500000  106.750000
max    713926.000000  761.000000

50