columns_meaning.csv: this file will help you to understand your data

sample_submission.csv: your submission should be something like this, same columns, same shape, same id, differents days ðŸ’ª

train_set.csv: this is the bit you'll work with in order to get the best model

test_set.csv: use it ONLY to make the prediction

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
# la otra forma, pero lo mismo: from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("/Users/rochi/Desktop/TestFolder/DataScienceBootCampMIO/ProjectsDS/how-long-would-you-stay/train_set.csv")

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,237869,12,a,9,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,254763,28,b,11,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,69788,6,a,6,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,204442,32,f,9,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,69647,25,e,1,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [4]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  int64
 1   1       100000 non-null  int64
 2   2       100000 non-null  object
 3   3       100000 non-null  int64
 4   4       100000 non-null  object
 5   5       100000 non-null  int64
 6   6       100000 non-null  object
 7   7       100000 non-null  object
 8   8       100000 non-null  object
 9   9       99967 non-null   float64
 10  10      100000 non-null  int64
 11  11      98517 non-null   float64
 12  12      100000 non-null  object
 13  13      100000 non-null  object
 14  14      100000 non-null  int64
 15  15      100000 non-null  object
 16  16      100000 non-null  float64
 17  17      100000 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 13.7+ MB

In [6]:
df.isnull().values.any()

True

In [7]:
df.isnull().sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9       33
10       0
11    1483
12       0
13       0
14       0
15       0
16       0
17       0
dtype: int64

In [8]:
df2 = df.fillna(0)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,237869,12,a,9,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,254763,28,b,11,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,69788,6,a,6,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,204442,32,f,9,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,69647,25,e,1,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [9]:
df2.isnull()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df2.drop("0",1,inplace = True)

In [11]:
df2.drop(['1','3'], 1, inplace = True)

In [12]:
df2

,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,a,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,a,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,c,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,f,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,a,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,a,Y,3,gynecology,R,B,3.0,82914,3.0,Emergency,Moderate,6,51-60,3966.0,More than 100 Days
99996,b,X,2,gynecology,R,F,2.0,40026,5.0,Urgent,Moderate,3,21-30,4005.0,51-60
99997,a,X,3,gynecology,Q,F,3.0,92346,2.0,Trauma,Minor,2,31-40,5215.0,31-40
99998,f,Y,2,gynecology,S,B,4.0,113798,15.0,Trauma,Moderate,3,41-50,5092.0,11-20
99999,e,X,3,gynecology,Q,E,2.0,109237,8.0,Emergency,Moderate,2,41-50,3390.0,41-50

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       100000 non-null  object
 1   4       100000 non-null  object
 2   5       100000 non-null  int64
 3   6       100000 non-null  object
 4   7       100000 non-null  object
 5   8       100000 non-null  object
 6   9       100000 non-null  float64
 7   10      100000 non-null  int64
 8   11      100000 non-null  float64
 9   12      100000 non-null  object
 10  13      100000 non-null  object
 11  14      100000 non-null  int64
 12  15      100000 non-null  object
 13  16      100000 non-null  float64
 14  17      100000 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 11.4+ MB

In [14]:
X = np.array(df2.iloc[:,0:-1])
y = np.array(df2['17'])
X.shape

(100000, 14)

In [15]:
y.shape

(100000,)

In [18]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [34]:
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
df2[['2']] = le.fit_transform(df2[['2']])
# Sunny: 2, Overcast: 0, Rainy:1
print(df2['2'])

0        0
1        0
2        2
3        5
4        0
        ..
99995    0
99996    1
99997    0
99998    5
99999    4
Name: 2, Length: 100000, dtype: int64

In [35]:
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
df2[['4']] = le.fit_transform(df2[['4']])
print(df2['4'])

0        0
1        0
2        2
3        1
4        0
        ..
99995    1
99996    0
99997    0
99998    1
99999    0
Name: 4, Length: 100000, dtype: int64

In [36]:
le = preprocessing.LabelEncoder()
df2['6'] = le.fit_transform(df2['6'])
print(df2['6'])

0        2
1        2
2        1
3        2
4        2
        ..
99995    2
99996    2
99997    2
99998    2
99999    2
Name: 6, Length: 100000, dtype: int64

In [37]:
df2.info

<bound method DataFrame.info of        2  4  5  6  7  8    9      10    11         12        13  14     15  \
0      0  0  2  2  R  F  4.0   45810   2.0     Urgent  Moderate   2  21-30
1      0  0  4  2  Q  F  2.0  128565  15.0     Trauma  Moderate   4  51-60
2      2  2  2  1  S  F  3.0   46565   5.0     Urgent  Moderate   2  71-80
3      5  1  3  2  S  B  4.0  124546   6.0  Emergency  Moderate   4  11-20
4      0  0  3  2  S  E  2.0   22729   8.0     Urgent  Moderate   2  51-60
...   .. .. .. .. .. ..  ...     ...   ...        ...       ...  ..    ...
99995  0  1  3  2  R  B  3.0   82914   3.0  Emergency  Moderate   6  51-60
99996  1  0  2  2  R  F  2.0   40026   5.0     Urgent  Moderate   3  21-30
99997  0  0  3  2  Q  F  3.0   92346   2.0     Trauma     Minor   2  31-40
99998  5  1  2  2  S  B  4.0  113798  15.0     Trauma  Moderate   3  41-50
99999  4  0  3  2  Q  E  2.0  109237   8.0  Emergency  Moderate   2  41-50

           16                  17
0      2817.0                0-10
1      4498.0               21-30
2      4573.0               11-20
3      7202.0               51-60
4      3398.0               51-60
...       ...                 ...
99995  3966.0  More than 100 Days
99996  4005.0               51-60
99997  5215.0               31-40
99998  5092.0               11-20
99999  3390.0               41-50

[100000 rows x 15 columns]>

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       100000 non-null  int64
 1   4       100000 non-null  int64
 2   5       100000 non-null  int64
 3   6       100000 non-null  int64
 4   7       100000 non-null  int64
 5   8       100000 non-null  int64
 6   9       100000 non-null  float64
 7   10      100000 non-null  int64
 8   11      100000 non-null  float64
 9   12      100000 non-null  int64
 10  13      100000 non-null  int64
 11  14      100000 non-null  int64
 12  15      100000 non-null  int64
 13  16      100000 non-null  float64
 14  17      100000 non-null  int64
dtypes: float64(3), int64(12)
memory usage: 11.4 MB

In [39]:
for i in df2[['7','8', '12','13','15','17']]:
    le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
    df2[i] = le.fit_transform(df2[i])
# Sunny: 2, Overcast: 0, Rainy:1
    print(df2[i])

0        2
1        1
2        3
3        3
4        3
        ..
99995    2
99996    2
99997    1
99998    3
99999    1
Name: 7, Length: 100000, dtype: int64
0        5
1        5
2        5
3        1
4        4
        ..
99995    1
99996    5
99997    5
99998    1
99999    4
Name: 8, Length: 100000, dtype: int64
0        2
1        1
2        2
3        0
4        2
        ..
99995    0
99996    2
99997    1
99998    1
99999    0
Name: 12, Length: 100000, dtype: int64
0        2
1        2
2        2
3        2
4        2
        ..
99995    2
99996    2
99997    1
99998    2
99999    2
Name: 13, Length: 100000, dtype: int64
0        2
1        5
2        7
3        1
4        5
        ..
99995    5
99996    2
99997    3
99998    4
99999    4
Name: 15, Length: 100000, dtype: int64
0         0
1         2
2         1
3         5
4         5
         ..
99995    10
99996     5
99997     3
99998     1
99999     4
Name: 17, Length: 100000, dtype: int64

Definir X e y

The goal of this competition is the prediction of the days a patient would stay in the hospital given some characteristics, putting into practice all the machine learning techniques you've learn.

The length of stay is divided into 11 different classes ranging from 0-10 days to more than 100 days.

In [40]:
X = np.array(df2.iloc[:,0:-1])
y = np.array(df2['17'])
X.shape

(100000, 14)

In [41]:
y.shape

(100000,)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [43]:
print("Range no normalized (Normal loaded digits):\n")
print("[", min(X[0]), ",", max(X[0]), "]", sep="")

Range no normalized (Normal loaded digits):

[0.0,45810.0]

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       100000 non-null  int64
 1   4       100000 non-null  int64
 2   5       100000 non-null  int64
 3   6       100000 non-null  int64
 4   7       100000 non-null  int64
 5   8       100000 non-null  int64
 6   9       100000 non-null  float64
 7   10      100000 non-null  int64
 8   11      100000 non-null  float64
 9   12      100000 non-null  int64
 10  13      100000 non-null  int64
 11  14      100000 non-null  int64
 12  15      100000 non-null  int64
 13  16      100000 non-null  float64
 14  17      100000 non-null  int64
dtypes: float64(3), int64(12)
memory usage: 11.4 MB

In [81]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X)
X_normalized = scaler.transform(X)
X_normalized

array([[0.        , 0.        , 0.08333333, ..., 0.0625    , 0.22222222,
        0.11247512],
       [0.        , 0.        , 0.16666667, ..., 0.125     , 0.55555556,
        0.29838531],
       [0.33333333, 1.        , 0.08333333, ..., 0.0625    , 0.77777778,
        0.30667994],
       ...,
       [0.        , 0.        , 0.125     , ..., 0.0625    , 0.33333333,
        0.37768193],
       [0.83333333, 0.5       , 0.08333333, ..., 0.09375   , 0.44444444,
        0.36407874],
       [0.66666667, 0.        , 0.125     , ..., 0.0625    , 0.44444444,
        0.17584605]])

In [46]:
from sklearn.model_selection import train_test_split
x_train_n, x_test_n, y_train_n, y_test_n = train_test_split(X_normalized, y, test_size=0.2, random_state=0)

In [82]:
from sklearn.linear_model import LogisticRegression
# all parameters not specified are set to their defaults
logisticRegr_normalized = LogisticRegression()

logisticRegr_normalized.fit(x_train_n, y_train_n)

LogisticRegression()

In [48]:
score_regularized = logisticRegr_normalized.score(x_test_n, y_test_n)
print(score_regularized * 100, "%")

37.405 %

PREDICT

In [181]:
to_pred = pd.read_csv("/Users/rochi/Desktop/TestFolder/DataScienceBootCampMIO/ProjectsDS/how-long-would-you-stay/test_set.csv")
to_pred

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,314114,19,a,7,Y,4,gynecology,S,C,2.0,59278,8.0,Emergency,Minor,2,41-50,4778.0
1,208989,15,c,5,Z,3,gynecology,S,F,2.0,102253,15.0,Trauma,Moderate,3,31-40,5734.0
2,305872,17,e,1,X,4,gynecology,R,E,4.0,5828,4.0,Emergency,Minor,3,71-80,5064.0
3,266099,3,c,3,Z,4,TB & Chest disease,R,A,2.0,56642,9.0,Urgent,Extreme,4,31-40,3254.0
4,13228,6,a,6,X,4,gynecology,R,F,1.0,116266,8.0,Emergency,Minor,3,21-30,4639.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133739,318155,18,d,13,Y,6,anesthesia,Q,B,3.0,123269,25.0,Urgent,Minor,4,51-60,5089.0
133740,144850,27,a,7,Y,2,gynecology,S,C,2.0,1293,8.0,Emergency,Moderate,3,61-70,6713.0
133741,180676,16,c,3,Z,3,gynecology,R,A,3.0,112921,5.0,Trauma,Minor,3,31-40,5326.0
133742,39933,28,b,11,X,4,gynecology,R,F,2.0,585,2.0,Trauma,Extreme,2,31-40,7072.0
133743,116673,6,a,6,X,4,TB & Chest disease,Q,F,2.0,119482,12.0,Trauma,Moderate,4,51-60,5221.0

In [182]:
to_pred = to_pred.fillna(0)

In [183]:
to_pred.shape

(133744, 17)

In [184]:
list(le.classes_)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [185]:
to_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133744 entries, 0 to 133743
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       133744 non-null  int64
 1   1       133744 non-null  int64
 2   2       133744 non-null  object
 3   3       133744 non-null  int64
 4   4       133744 non-null  object
 5   5       133744 non-null  int64
 6   6       133744 non-null  object
 7   7       133744 non-null  object
 8   8       133744 non-null  object
 9   9       133744 non-null  float64
 10  10      133744 non-null  int64
 11  11      133744 non-null  float64
 12  12      133744 non-null  object
 13  13      133744 non-null  object
 14  14      133744 non-null  int64
 15  15      133744 non-null  object
 16  16      133744 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 17.3+ MB

In [186]:
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
to_pred[['2']] = le.fit_transform(to_pred[['2']])
# Sunny: 2, Overcast: 0, Rainy:1
print(to_pred['2'])

0         0
1         2
2         4
3         2
4         0
         ..
133739    3
133740    0
133741    2
133742    1
133743    0
Name: 2, Length: 133744, dtype: int64

In [188]:
for i in to_pred[['4','6', '7', '8', '12','13', '15']]:
    le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
    to_pred[i] = le.fit_transform(to_pred[i])
# Sunny: 2, Overcast: 0, Rainy:1
    print(to_pred[i])

0         1
1         2
2         0
3         2
4         0
         ..
133739    1
133740    1
133741    2
133742    0
133743    0
Name: 4, Length: 133744, dtype: int64
0         2
1         2
2         2
3         0
4         2
         ..
133739    1
133740    2
133741    2
133742    2
133743    0
Name: 6, Length: 133744, dtype: int64
0         3
1         3
2         2
3         2
4         2
         ..
133739    1
133740    3
133741    2
133742    2
133743    1
Name: 7, Length: 133744, dtype: int64
0         2
1         5
2         4
3         0
4         5
         ..
133739    1
133740    2
133741    0
133742    5
133743    5
Name: 8, Length: 133744, dtype: int64
0         0
1         1
2         0
3         2
4         0
         ..
133739    2
133740    0
133741    1
133742    1
133743    1
Name: 12, Length: 133744, dtype: int64
0         1
1         2
2         1
3         0
4         1
         ..
133739    1
133740    2
133741    1
133742    0
133743    2
Name: 13, Length: 133744, dtype: int64
0         4
1         3
2         7
3         3
4         2
         ..
133739    5
133740    6
133741    3
133742    3
133743    5
Name: 15, Length: 133744, dtype: int64

In [189]:
to_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133744 entries, 0 to 133743
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       133744 non-null  int64
 1   1       133744 non-null  int64
 2   2       133744 non-null  int64
 3   3       133744 non-null  int64
 4   4       133744 non-null  int64
 5   5       133744 non-null  int64
 6   6       133744 non-null  int64
 7   7       133744 non-null  int64
 8   8       133744 non-null  int64
 9   9       133744 non-null  float64
 10  10      133744 non-null  int64
 11  11      133744 non-null  float64
 12  12      133744 non-null  int64
 13  13      133744 non-null  int64
 14  14      133744 non-null  int64
 15  15      133744 non-null  int64
 16  16      133744 non-null  float64
dtypes: float64(3), int64(14)
memory usage: 17.3 MB

In [190]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [191]:
to_pred.shape

(133744, 17)

In [192]:
to_pred

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,314114,19,0,7,1,4,2,3,2,2.0,59278,8.0,0,1,2,4,4778.0
1,208989,15,2,5,2,3,2,3,5,2.0,102253,15.0,1,2,3,3,5734.0
2,305872,17,4,1,0,4,2,2,4,4.0,5828,4.0,0,1,3,7,5064.0
3,266099,3,2,3,2,4,0,2,0,2.0,56642,9.0,2,0,4,3,3254.0
4,13228,6,0,6,0,4,2,2,5,1.0,116266,8.0,0,1,3,2,4639.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133739,318155,18,3,13,1,6,1,1,1,3.0,123269,25.0,2,1,4,5,5089.0
133740,144850,27,0,7,1,2,2,3,2,2.0,1293,8.0,0,2,3,6,6713.0
133741,180676,16,2,3,2,3,2,2,0,3.0,112921,5.0,1,1,3,3,5326.0
133742,39933,28,1,11,0,4,2,2,5,2.0,585,2.0,1,0,2,3,7072.0
133743,116673,6,0,6,0,4,0,1,5,2.0,119482,12.0,1,2,4,5,5221.0

In [193]:
predictions_submit = logisticRegr_normalized.predict(to_pred[['2','4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16']])
predictions_submit

array([2, 2, 2, ..., 2, 2, 2])

In [194]:
list(le.classes_)

['0-10',
 '11-20',
 '21-30',
 '31-40',
 '41-50',
 '51-60',
 '61-70',
 '71-80',
 '81-90',
 '91-100']

In [195]:
le.transform(['0-10',
 '11-20',
 '21-30',
 '31-40',
 '41-50',
 '51-60',
 '61-70',
 '71-80',
 '81-90',
 '91-100'])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [196]:
list(le.inverse_transform([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]))

['0-10',
 '11-20',
 '21-30',
 '31-40',
 '41-50',
 '51-60',
 '61-70',
 '71-80',
 '81-90',
 '91-100']

In [169]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [197]:
predictions_submit.shape

(133744,)

In [198]:
predictions_submit.reshape(-1,1)

array([[2],
       [2],
       [2],
       ...,
       [2],
       [2],
       [2]])

In [199]:
score_ = logisticRegr_normalized.score(X, y)
score_

0.27455

In [200]:
submission = pd.DataFrame({"id": to_pred["0"], "days": predictions_submit})
submission

            id  days
0       314114     2
1       208989     2
2       305872     2
3       266099     2
4        13228     2
...        ...   ...
133739  318155     2
133740  144850     2
133741  180676     2
133742   39933     2
133743  116673     2

[133744 rows x 2 columns]

In [201]:
sample = pd.read_csv('/Users/rochi/Desktop/TestFolder/DataScienceBootCampMIO/ProjectsDS/how-long-would-you-stay/sample_submission.csv')

In [202]:
sample.shape

(133744, 2)

In [164]:
if submission.shape == sample.shape:
    if submission.columns.all() == sample.columns.all():
        if submission.id.all() == sample.id.all():
            print("you're ready to submit!")
            submission.to_csv("to_submit.csv", index = False)

NameError: name 'submission' is not defined