### 9. Ejercicios: 

- Crea dos listas: una que tenga 4 nombres de ciudades y otra que tenga 4 lugares emblemáticos de la ciudad.

In [35]:
# Code
list_cities = ["madrid", "roma", "paris", "londres"]
list_cities

['madrid', 'roma', 'paris', 'londres']

In [36]:
list_places = ["plazamayor", "fontanaditrevi", "toureiffel", "bigben"]
list_places

['plazamayor', 'fontanaditrevi', 'toureiffel', 'bigben']

In [63]:
type(dict)

dict

### A partir de funciones con diccionarios:

- Crea un diccionario con un entero 5 como key y "val" como su value.

In [34]:
# Code
dictionarytest = {5: "val"}
print(dictionarytest)

{5: 'val'}

- Crea una función que a reciba dos listas 'lista1' y 'lista2' por parámetro y retorne un diccionario teniendo como keys cada elemento de 'lista1' y como values los elementos de 'lista2'. Llama a la función con las listas que has creado antes para que devuelva un diccionario con cada ciudad como key asociado a un lugar emblemático como value.

In [52]:
list_cities = ["madrid", "roma", "paris", "londres"]
list_places = ["plazamayor", "fontanaditrevi", "toureiffel", "bigben"]
dict_travel = dict(zip(list_cities, list_places))

def ahora(lista1, lista2):
    dict_travel = dict(zip(list_cities, str(list_places)))
    print(dict_travel)

ahora(lista1=list_cities, lista2=list_places)

TypeError: 'dict' object is not callable

In [55]:
keys = ["madrid", "roma", "paris", "londres"]
values = ["plazamayor", "fontanaditrevi", "toureiffel", "bigben"]

In [62]:
def travel (cities, places):
    dict = {}
    for x in range(len(cities)):
        dict[cities[x]] = places[x]
    return dict

travel(cities=list_cities, places=list_places)

{'madrid': 'plazamayor',
 'roma': 'fontanaditrevi',
 'paris': 'toureiffel',
 'londres': 'bigben'}

*Hay que utilizar la lista de alumn@s con sus nombres y alturas*

- Crea una función que, a partir de dos listas, retorne un diccionario en el que cada key sea el nombre de un alumno y su value debe ser la altura.

In [39]:
# Code
lista_alumnos = [["Jalex", 6, 47, 1.80], ["Tomas", 5, 31, 1.80], ["David", 6, 39, 1.81], ["Natalio", 2, 29, 1.73], ["Monica", 3, 47, 1.73], ["Roxanna", 4,24,1.75], ["Filipa", 5,34,1.64], ["Elsa", 4, 36, 1.89], ["Cristina", 3, 46, 1.70], ["Clara", 6, 29, 1.67], ["Alba", 3, 29, 1.68], ["Valeria",1, 40, 1.60], ["Jose Luis", 4, 47, 1.69], ["Gabriel", 1, 28, 1.76], ["Rochi", 2, 38, 1.60], ["Jose Maria", 5, 51, 1.75]]

In [40]:
lista_alumnos

[['Jalex', 6, 47, 1.8],
 ['Tomas', 5, 31, 1.8],
 ['David', 6, 39, 1.81],
 ['Natalio', 2, 29, 1.73],
 ['Monica', 3, 47, 1.73],
 ['Roxanna', 4, 24, 1.75],
 ['Filipa', 5, 34, 1.64],
 ['Elsa', 4, 36, 1.89],
 ['Cristina', 3, 46, 1.7],
 ['Clara', 6, 29, 1.67],
 ['Alba', 3, 29, 1.68],
 ['Valeria', 1, 40, 1.6],
 ['Jose Luis', 4, 47, 1.69],
 ['Gabriel', 1, 28, 1.76],
 ['Rochi', 2, 38, 1.6],
 ['Jose Maria', 5, 51, 1.75]]

In [41]:
lista_nombres_alumnos = []
for x in lista_alumnos:
    lista_nombres_alumnos.append(x[0])

lista_nombres_alumnos

['Jalex',
 'Tomas',
 'David',
 'Natalio',
 'Monica',
 'Roxanna',
 'Filipa',
 'Elsa',
 'Cristina',
 'Clara',
 'Alba',
 'Valeria',
 'Jose Luis',
 'Gabriel',
 'Rochi',
 'Jose Maria']

In [42]:
lista_nombres_alumnos = [x[0] for x in lista_alumnos]
lista_alturas_alumnos = [x[3] for x in lista_alumnos]
print("lista_nombres_alumnos:", lista_nombres_alumnos)
print()
print("lista_alturas_alumnos:", lista_alturas_alumnos)

lista_nombres_alumnos: ['Jalex', 'Tomas', 'David', 'Natalio', 'Monica', 'Roxanna', 'Filipa', 'Elsa', 'Cristina', 'Clara', 'Alba', 'Valeria', 'Jose Luis', 'Gabriel', 'Rochi', 'Jose Maria']

lista_alturas_alumnos: [1.8, 1.8, 1.81, 1.73, 1.73, 1.75, 1.64, 1.89, 1.7, 1.67, 1.68, 1.6, 1.69, 1.76, 1.6, 1.75]

In [54]:
print(tuple(zip(lista_nombres_alumnos, lista_alturas_alumnos)))

(('Jalex', 1.8), ('Tomas', 1.8), ('David', 1.81), ('Natalio', 1.73), ('Monica', 1.73), ('Roxanna', 1.75), ('Filipa', 1.64), ('Elsa', 1.89), ('Cristina', 1.7), ('Clara', 1.67), ('Alba', 1.68), ('Valeria', 1.6), ('Jose Luis', 1.69), ('Gabriel', 1.76), ('Rochi', 1.6), ('Jose Maria', 1.75))

In [49]:
def final(l_nombres, l_alturas):
    for pos, elem in enumerate(l_nombres):
        g = [elem, l_alturas[pos]]
        print(g)

final(l_nombres=lista_nombres_alumnos, l_alturas=lista_alturas_alumnos)

['Jalex', 1.8]
['Tomas', 1.8]
['David', 1.81]
['Natalio', 1.73]
['Monica', 1.73]
['Roxanna', 1.75]
['Filipa', 1.64]
['Elsa', 1.89]
['Cristina', 1.7]
['Clara', 1.67]
['Alba', 1.68]
['Valeria', 1.6]
['Jose Luis', 1.69]
['Gabriel', 1.76]
['Rochi', 1.6]
['Jose Maria', 1.75]