# MPG Cars

### Introduction:


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

   ### Step 3. Assign each to a to a variable called cars1 and cars2

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.shape

(198, 14)

In [9]:
cars_copy = cars1.copy()
cars_copy.isnull().all()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model           False
origin          False
car             False
Unnamed: 9       True
Unnamed: 10      True
Unnamed: 11      True
Unnamed: 12      True
Unnamed: 13      True
dtype: bool

In [10]:
deleted = cars_copy.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis=1)
deleted

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

#otra opcion
cars_copy = cars_copy.dropna(axis="columns", how="all")
cars_copy

In [11]:
deleted.shape

(198, 9)

In [6]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [13]:
deleted.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [5]:
cars2.shape

(200, 9)

In [7]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 5. What is the number of observations in each dataset?

In [16]:
print(deleted.shape)
print(cars2.shape)

(198, 9)
(200, 9)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = pd.concat([deleted, cars2], axis=0)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [18]:
#otra opcion
merged = pd.merge(deleted, cars2, how="outer")
merged

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [20]:
cars['owners'] = np.random.randint(15000, 73001, cars.shape[0])
cars
###(15000, 73001, size=len(cars))

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,25889
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,30803
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,55072
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,66820
4,17.0,8,302,140,3449,10.5,70,1,ford torino,52027
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,51290
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,22461
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,38554
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,70287
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,64225

In [21]:
arr = np.array([np.random.randint(15000, 73001, size=len(cars))])
arr

#nr_owners = np.random.randint(15000, high=73001, size=398)

array([[50506, 56041, 43102, 33280, 25859, 25587, 18520, 30502, 47856,
        23859, 19846, 27767, 28470, 69836, 17285, 33902, 24392, 62947,
        63704, 59023, 23064, 20656, 43878, 69764, 26477, 59839, 42141,
        44162, 43955, 31301, 69615, 48242, 34230, 53982, 26427, 35307,
        34314, 60266, 32640, 40871, 66190, 59000, 56523, 35914, 67901,
        27416, 43173, 17047, 30089, 72832, 40916, 24692, 33830, 32805,
        20888, 20478, 38215, 27443, 45348, 66613, 67899, 65469, 58026,
        37563, 35576, 28469, 18761, 26373, 55171, 33249, 54882, 56635,
        53572, 17859, 44800, 49018, 66174, 37923, 39901, 19293, 44291,
        39098, 16463, 66337, 72905, 26028, 38722, 62486, 62585, 41412,
        52710, 42319, 58173, 67669, 65494, 46264, 18855, 72350, 40680,
        69875, 57310, 58147, 45372, 19750, 51981, 33947, 47721, 30049,
        29735, 53712, 26788, 58551, 17827, 40129, 45238, 67862, 36832,
        36813, 22498, 29995, 46682, 42338, 24529, 59964, 42077, 33132,
        59548, 17217, 49909, 52883, 28445, 40369, 58628, 21709, 19250,
        17550, 52218, 50747, 43818, 61333, 40787, 53648, 66278, 41653,
        67500, 41379, 56822, 62306, 29301, 66190, 40636, 72452, 56171,
        33565, 53229, 51425, 68405, 48883, 37266, 20244, 53711, 29931,
        59426, 47120, 62763, 65800, 22364, 53631, 60666, 72808, 68302,
        69079, 41716, 50903, 19481, 34174, 56581, 71204, 19662, 56741,
        30079, 69091, 19506, 16312, 68511, 36289, 20587, 43333, 36308,
        31796, 44071, 42346, 54583, 50937, 22895, 34533, 43800, 49252,
        19885, 49678, 71464, 34836, 23350, 39686, 65630, 24173, 31960,
        65780, 61888, 22140, 17277, 50413, 17268, 36067, 47259, 53023,
        63736, 39608, 42725, 63230, 51373, 53530, 32367, 32770, 70343,
        25628, 63419, 32163, 29615, 28264, 61232, 40823, 69542, 52482,
        35828, 24912, 51342, 34805, 37621, 39108, 58260, 65541, 61031,
        19298, 46527, 52395, 27246, 49167, 64681, 70363, 59205, 67749,
        21573, 29419, 62185, 37198, 17424, 27928, 42042, 34987, 25946,
        63589, 27785, 27766, 17661, 17637, 54608, 29537, 61710, 35931,
        66539, 64477, 67268, 29097, 44582, 17005, 36214, 52337, 63345,
        27894, 63441, 20766, 53995, 64802, 41822, 54715, 50855, 38699,
        69845, 59393, 52171, 71192, 55905, 45142, 50254, 27722, 68779,
        30950, 72971, 27322, 36053, 16235, 46802, 26465, 70174, 17861,
        57481, 16600, 28597, 52572, 34159, 52854, 22929, 30906, 53218,
        71185, 71511, 44533, 70194, 48647, 56490, 69427, 15038, 21450,
        39365, 70774, 52926, 19413, 70986, 63595, 32082, 26577, 36983,
        57357, 48324, 29150, 17593, 37060, 54802, 46697, 23172, 66156,
        18199, 34529, 26027, 32040, 27919, 27765, 40615, 56468, 68893,
        44546, 38479, 55577, 60851, 30043, 51413, 50936, 19717, 16036,
        31246, 31258, 68722, 26092, 44993, 49797, 68450, 21699, 54590,
        29432, 53845, 58651, 64344, 26234, 66426, 59234, 21394, 46258,
        72251, 61679, 60353, 32216, 56022, 47375, 28887, 43574, 45943,
        48297, 43417, 31633, 55110, 60078, 30819, 42496, 42956, 61299,
        28929, 61292]])

array([29487, 25680, 65268, 31827, 69215, 72602, 52693, 58440, 16183,
       45014, 32318, 72942, 62163, 35951, 57625, 59355, 36533, 67048,
       58159, 69743, 25146, 22755, 44966, 46792, 56553, 65013, 55908,
       69563, 22030, 59561, 15593, 52998, 54795, 16169, 24809, 35580,
       46590, 38792, 43099, 37166, 21390, 56496, 68606, 21110, 56334,
       45477, 51961, 27625, 51176, 30796, 61809, 65450, 67375, 23342,
       27499, 50585, 57302, 56191, 60281, 32865, 58605, 66374, 15315,
       31791, 28670, 38796, 69214, 41055, 32353, 31574, 65799, 42998,
       72785, 18415, 31977, 29812, 65439, 21161, 60871, 67151, 22179,
       32821, 55392, 34586, 67937, 31646, 66397, 35258, 63815, 71291,
       51130, 27684, 49648, 52691, 50681, 68185, 32635, 51553, 28970,
       19112, 26035, 67666, 55471, 51477, 62055, 53003, 41265, 18565,
       48851, 48673, 45832, 67891, 57638, 29240, 41236, 16950, 31449,
       50528, 22397, 15876, 26414, 16736, 23896, 46104, 17583, 65951,
       38538, 31443, 19299, 46095, 31239, 19290, 38051, 68575, 61755,
       22560, 34460, 35395, 34608, 56906, 44895, 48429, 20900, 49770,
       50513, 59402, 26893, 37233, 19036, 20523, 18765, 46333, 42831,
       53698, 25218, 63106, 16928, 34901, 43674, 65453, 54428, 68502,
       19043, 20325, 45039, 29466, 49672, 67972, 30547, 22522, 69354,
       40489, 72887, 15724, 51442, 65182, 64555, 42138, 72988, 20861,
       67898, 20768, 36415, 47480, 16820, 48739, 62610, 43473, 23002,
       43488, 62581, 37724, 63019, 44912, 35595, 59188, 51814, 65283,
       53479, 27660, 38237, 22957, 47870, 15533, 41944, 51830, 56676,
       57481, 48529, 72220, 66675, 50099, 30585, 25436, 49195, 26050,
       24899, 37213, 25870, 67447, 23808, 71275, 67572, 18545, 43553,
       54858, 23077, 33705, 31282, 26298, 23742, 36110, 51491, 18019,
       60655, 27453, 35563, 63627, 35315, 56717, 59281, 55634, 18415,
       59570, 47320, 20110, 18425, 19352, 18032, 31816, 28573, 66030,
       54723, 21592, 37160, 59518, 35629, 47619, 52359, 34566, 64932,
       24072, 39445, 31203, 63975, 62041, 70175, 51029, 32058, 19428,
       65553, 50799, 48190, 68061, 68201, 53389, 15901, 44585, 54723,
       30446, 63716, 57488, 67134, 22033, 53694, 40002, 24854, 59747,
       59827, 53378, 53196, 68686, 20784, 28181, 33044, 41694, 39857,
       57296, 69021, 17359, 29794, 22515, 55877, 22806, 50027, 56787,
       50844, 17420, 65259, 19141, 40204, 19530, 30116, 34973, 15641,
       53492, 59574, 59082, 64400, 70163, 43058, 69696, 67996, 26158,
       32936, 45461, 47390, 32368, 15400, 40895, 16572, 31776, 62121,
       56704, 39335, 27716, 52565, 50831, 45049, 25173, 25018, 18606,
       71177, 66288, 46754, 68175, 35829, 24959, 54792, 19059, 29092,
       58736, 62938, 44733, 17884, 33905, 33965, 24641, 52257, 28178,
       29515, 37703, 56036, 51556, 23590, 61888, 70224, 53730, 41328,
       16501, 30360, 54106, 29101, 35631, 56173, 30424, 46887, 23657,
       17723, 71709, 45270, 30380, 27779, 33774, 36379, 47127, 63625,
       16750, 65740, 53802, 40995, 37487, 42791, 21825, 69344, 63210,
       15982, 20259])

### Step 8. Add the column owners to cars

In [22]:
cars['owners'] = np.random.randint(15000, 73001, cars.shape[0])
cars
###(15000, 73001, size=len(cars))

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,35309
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,47669
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,23257
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,65763
4,17.0,8,302,140,3449,10.5,70,1,ford torino,41028
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,63768
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,71342
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,40956
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,46180
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,58498

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,21825
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,69344
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,63210
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,15982
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,20259