# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

In [2]:
import pandas as pd

In [4]:
from pandas_datareader import data, wb

In [5]:
import datetime as dt

In [9]:
df = pd.read_csv('/Users/rochi/Desktop/TestFolder/DataScienceBootCampMIO/ProjectsDS/Week5/day3/exercises/pandas/09_Time_Series/Getting_Financial_Data/file.csv')
df

,Attributes,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Symbols,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02,100.2164535522461,219.30999755859375,129.24151611328125,109.33000183105469,219.30999755859375,162.05999755859375,111.44000244140625,223.25,163.30999755859375,107.3499984741211,213.25999450683594,161.0,111.38999938964844,222.8699951171875,161.30999755859375,53204600.0,4764400.0,5525500.0
3,2015-01-05,97.39318084716797,210.08999633789062,127.20793151855469,106.25,210.08999633789062,159.50999450683594,108.6500015258789,216.5,161.27000427246094,105.41000366210938,207.16000366210938,159.19000244140625,108.29000091552734,214.5500030517578,161.27000427246094,64285500.0,5368500.0,4880400.0
4,2015-01-06,97.40237426757812,211.27999877929688,124.464599609375,106.26000213623047,211.27999877929688,156.07000732421875,107.43000030517578,214.1999969482422,159.9600067138672,104.62999725341797,204.2100067138672,155.1699981689453,106.54000091552734,210.05999755859375,159.6699981689453,65797100.0,6261900.0,6146700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,2020-03-11,275.42999267578125,634.22998046875,117.97000122070312,275.42999267578125,634.22998046875,117.97000122070312,281.2200012207031,653.5800170898438,122.58000183105469,271.8599853515625,613.0,116.37999725341797,277.3900146484375,640.2000122070312,121.01000213623047,63899700.0,13322500.0,8446500.0
1308,2020-03-12,248.22999572753906,560.5499877929688,102.80999755859375,248.22999572753906,560.5499877929688,102.80999755859375,270.0,594.5,109.80000305175781,248.0,546.25,102.27999877929688,255.94000244140625,580.8900146484375,109.6500015258789,104618500.0,18909100.0,12512700.0
1309,2020-03-13,277.9700012207031,546.6199951171875,107.94999694824219,277.9700012207031,546.6199951171875,107.94999694824219,279.9200134277344,607.5700073242188,109.16000366210938,252.9499969482422,502.0,100.80999755859375,264.8900146484375,595.0,108.68000030517578,92683000.0,22640300.0,12502100.0
1310,2020-03-16,242.2100067138672,445.07000732421875,99.08000183105469,242.2100067138672,445.07000732421875,99.08000183105469,259.0799865722656,494.8699951171875,107.41000366210938,240.0,442.1700134277344,95.0,241.9499969482422,469.5,98.0,80605900.0,20489500.0,10568000.0
1311,2020-03-17,252.86000061035156,430.20001220703125,106.6500015258789,252.86000061035156,430.20001220703125,106.6500015258789,257.6099853515625,471.8500061035156,107.4000015258789,238.39999389648438,396.0,97.0999984741211,247.50999450683594,440.010009765625,100.61000061035156,80876700.0,23914500.0,8888000.0

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [7]:
start = 1/1/2015
end = 27/7/2020

In [ ]:
df = data.DataReader("yahoo")

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [1]:
stocks = []

['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 399 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2016-08-02 00:00:00
Minor_axis axis: AAPL to TSLA

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

                  AAPL        IBM       LNKD       TSLA
Date
2015-01-02  53204626.0  5525466.0  1203743.0  4764443.0
2015-01-05  64285491.0  4880389.0  1400562.0  5368477.0
2015-01-06  65797116.0  6146712.0  2006546.0  6261936.0
2015-01-07  40105934.0  4701839.0   985016.0  2968390.0
2015-01-08  59364547.0  4241113.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

                  AAPL         IBM       LNKD        TSLA
week year
1    2015   53204626.0   5525466.0  1203743.0   4764443.0
     2016  343422014.0  25233098.0  6630485.0  20967926.0
2    2015  283252615.0  24458400.0  7203125.0  22709607.0
     2016  302072797.0  29379214.0  9160521.0  22997290.0
3    2015  304226647.0  23263206.0  7084168.0  30799137.0

### Step 9. Find all the volume traded in the year of 2015

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08